extends layouts/_layout.pug

block content
	table.table.table-hover
		thead
			tr
				th #
				th First Name
				th Last Name
				th Username
		tbody
            each coin in overviewList
                tr
                  td
                    a(href='/single/' + coin.id) 
                      =coin.name
                  td= coin.symbol
                  td= coin.createdAt
